# Primeiros passos no Python

### <span style="color:green;"> Nesse primeiro tópico teremos uma visão prévia de conceitos básicos para introdução ao Python, entenderemos estruturas simples, tipos de dados, listas e outros itens introdutórios. Esse tópico é bem básico e o intuito é fornecer conceitos iniciais. </span>

    # Referências de consulta:
        1) Conteúdo das aulas de Big Data cursadas na FIA a partir de Maio/2018
        2)

### Iniciando sintaxes básicas
    ## Diferentemente de outras linguagens a simplicidade do Python facilita seu uso, conforme exemplos de códigos que serão demonstrados abaixo.
    Nesse primeiro exemplo temos a "impressão" de um texto definido como parâmetro entre aspas duplas.
    Não é necessário definir previamente o tipo do dado, uma vez que no Python temos uma tipagem dinâmica dos dados.
    Tipagem dinâmica = o tipo de uma variável é inferido pelo interpretador em tempo de execução

In [37]:
# mostrar a frase escrita entre aspas duplas
print ("Olá Isabel")

Olá Isabel

In [38]:
# definindo uma variável e atribuíndo um  tipo de dado string
name = "Isabel"
print (name)

Isabel

#### Tipo de dados
    É possível identificar os tipos de dados com o uso do type, referenciando o dado diretamente (1) ou pelo uso de uma variável definida anteriormente.
    Também temos as listas exemplificadas abaixo, em que podemos captar posições da lista de acordo com a necessidade.

In [1]:
type (1)

int

In [3]:
type ("a")

str

In [5]:
type (1.1)

float

In [7]:
dados = 1
type (dados)

int

In [10]:
lista = [1,2,3]

In [11]:
type (lista)

list

In [20]:
lista [2]

3

#### Listas
    O primeiro elemento na extração da lista é chamado por 0 e não por 1
    Usando o dicionário os valores são associados a nomes dentro da definição e atribuição é por colchetes e não por índice {}. Dicionários aceitam qualquer tipo de dado.
    Tupla são basicamente estruturas similares as listas, porém definidas com () e são imutáveis, já que a partir do instante que eu definir não é possível alterar o elemento como podemos fazer na lista. Ou seja, não é possível reassociar elementos (linha de 32 a 34 exemplificando a alteração de um elemento na lista, que se tentarmos realizar o mesmo em tuplas teremos como retorno a mensagem TypeError: 'tuple' object does not support item assignment)

In [19]:
lista2 = [1,2,3,[1,2,3]]

In [21]:
type (lista2)

list

In [22]:
lista

[1, 2, 3, [1, 2, 3]]

In [23]:
lista [1]

2

In [24]:
lista [0]

1

In [25]:
dic = {"valor1":1, "valor2":2}

In [26]:
dic

{'valor1': 1, 'valor2': 2}

In [27]:
type (dic)

dict

In [28]:
dic ["valor1"]

1

In [29]:
t = (1,2,3)

In [30]:
type (t)

tuple

In [31]:
t[1]

2

In [32]:
lista

[1, 2, 3, [1, 2, 3]]

In [39]:
# alterando o segundo elemento da lista, anteriormente acima 3 para 4
lista [2] = 4

In [34]:
lista

[1, 2, 4, [1, 2, 3]]